body, html{

    background-color: aqua;
    
    width: 100%;    
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}



.div_titulo{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 90, 81);

}

.div__conteudo{

    display: flex;
    flex-direction: column;




    width: 600px;
    height: 550px;
    background-color: white;
    padding: 10px;
    overflow-y: scroll;



}


.div__conteudo__contatos{

    display: flex;
    flex-direction: row;

}


.div__conteudo__contatos:hover {

    background-color: rgba(150, 145, 145, 0.267);
    
    
}



.div__conteudo__contatos--img{

    border-radius: 70px;
    

}


.div__conteudo__contatos_iformacoes{

    margin-left: 30px;

}

.div__conteudo__contatos_iformacoes--p1{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(53, 105, 88);

    width: 100%;

}

.div__conteudo__contatos_iformacoes--p2{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.575);

    width: 100%;


}

.div__conteudo__contatos_icones{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    
    cursor: pointer;

    height: 20px;
    margin-left: auto;
    margin-right: 5px;

}